# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# PDM specific
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Poetry
poetry.lock

# pip
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/
